body {
    background-color: bisque;
}

.start_btn,
.info_box{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
}

.start_btn button{
     color:peru;
     font-size: 30px; 
     font-family: 'Times New Roman', Times, serif;
     padding: 10px 20px; 
     outline: auto;
     border: none; 
     background-color:azure;
     




}